<mat-card appearance="outlined" class="card">
  <mat-card-header class="header">
    <mat-card-title class="title">< Nick Name ></mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">
    <div class="messages">
      <div class="message sent">
        Lorem Ipsum
      </div>

      <div class="message received">
        Dolorem Sit amet
      </div>
    </div>

    <div class="form">
      <mat-form-field appearance="outline" class="message-box">
        <mat-label>Повідомлення</mat-label>
        <textarea matInput value="" cdkTextareaAutosize></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary">
        Надіслати
      </button>
    </div>
  </mat-card-content>
</mat-card>
